body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Header **/

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}


/* header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    color: white;
    font-weight: normal;
} */

header h1 {
    font-family: 'Stalinist One', cursive;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

textarea {
    width: 50%;
    text-align: center;
}

button {
    text-align: center;
    width: 50%;
    padding: 1%;
    color: white;
    background-color: #ffb22b;
    border: none;
}

.button_btn {
    color: #f3f7f6;
    background: transparent;
    border: 1px solid #f7f8f8;
    font-size: 12px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    width: 150px;
    border-radius: 20px;
}


/* Showcase */

#showcase {
    min-height: 400px;
    background: url('chef.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/* Newsletter */

#newsletter .img2 {
    width: 60%;
    float: left;
    margin-right: 25px;
}

#newsletter img {
    width: 60%;
    float: right;
    margin-right: 25px;
}

#box {
    text-align: center;
}

#newsletter p {}


/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}


/* Sidebar */

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}


/* Main-col */

article#main-col {
    float: left;
    width: 65%;
}


/* Services */

ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}


/* Media Queries */

@media(max-width: 768px) {
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}

.column {
    /* width: 200%;
    display: flex;
    flex-direction: column;*/
}

.row {
    margin-top: 0%;
    margin: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


/*.row:after {
    content: "";
    display: flex;
    
    clear: both;
  }*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-right: 20%;
    background-color: #f1f1f1;
}

.container h3 {
    color: rgb(247, 162, 4);
}

